<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resume CV Design</title>
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/all.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="resume">
            <div class="left">
                <div class="img_holder">
                    <img src="Images/Image1.jpg" alt="picture">
                </div>
                <div class="contact_wrap pb">
                    <div class="title">
                        Contact
                    </div>
                    <div class="contact">
                        <ul>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></div>
                                    <div class="text">972 9838485</div>
                                </div>
                            </li>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
                                    <div class="text">aniabukstein@gmail.com</div>
                                </div>
                            </li>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fab fa-weebly" aria-hidden="true"></i></div>
                                    <div class="text">www.aniabukstein.com</div>
                                </div>
                            </li>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fas fa-map-signs" aria-hidden="true"></i></div>
                                    <div class="text">17 street, jerusalem, Israel</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="skills_wrap pb">
                    <div class="title">
                        Skills
                    </div>
                    <div class="skills">
                        <ul>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fab fa-html5"></i></div>
                                    <div class="text">HTML</div>
                                </div>
                            </li>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fab fa-css3-alt"></i></div>
                                    <div class="text">CSS</div>
                                </div>
                            </li>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fab fa-js"></i></div>
                                    <div class="text">Javascript</div>
                                </div>
                            </li>
                            <li>
                                <div class="li_wrap">
                                    <div class="icon"><i class="fab fa-react"></i></div>
                                    <div class="text">React.JS</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="right">
                <div class="header">
                    <div class="name_role">
                        <div class="name">
                            Stephen Colbert
                        </div>
                        <div class="role">
                            Designer
                        </div>
                    </div>
                    <div class="about">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem beatae accusamus.
                        Similique optio tempora sed qui laudantium consequuntur, iure sint voluptas. 
                    </div>
                </div>
                <div class="right_inner">
                    <div class="exp">
                        <div class="title right_main_head">
                            experience
                        </div>
                        <div class="exp_wrap">
                            <ul>
                                <li>
                                    <div class="li_wrap">
                                        <div class="date">
                                            2018 - Present
                                        </div>
                                        <div class="info">
                                            <p class="info_title">
                                                UI Team Lead
                                            </p>
                                            <p class="info_com">
                                                Facebook
                                            </p>
                                            <p class="info_cont">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                                                voluptatibus consequatur rem nostrum omnis! Architecto.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="li_wrap">
                                        <div class="date">
                                            2015 - 2018
                                        </div>
                                        <div class="info">
                                            <p class="info_title">
                                                UI Developer
                                            </p>
                                            <p class="info_com">
                                                Amazon
                                            </p>
                                            <p class="info_cont">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                                                voluptatibus consequatur rem nostrum omnis! Architecto.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="li_wrap">
                                        <div class="date">
                                            2014 - 2015
                                        </div>
                                        <div class="info">
                                            <p class="info_title">
                                                Junior UI Developer
                                            </p>
                                            <p class="info_com">
                                                Coding Power
                                            </p>
                                            <p class="info_cont">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                                                voluptatibus consequatur rem nostrum omnis! Architecto.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="education">
                        <div class="title right_main_head">
                            Education
                        </div>
                        <div class="education_wrap">
                            <ul>
                                <li>
                                    <div class="li_wrap">
                                        <div class="date">
                                            2010 - 2014
                                        </div>
                                        <div class="info">
                                            <p class="info_title">
                                                Computer Science
                                            </p>
                                            <p class="info_com">
                                                Israel University
                                            </p>
                                            <p class="info_cont">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                                                voluptatibus consequatur rem nostrum omnis! Architecto.
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="li_wrap">
                                        <div class="date">
                                            1998 - 2008
                                        </div>
                                        <div class="info">
                                            <p class="info_title">
                                                Schooling
                                            </p>
                                            <p class="info_com">
                                                Israel School
                                            </p>
                                            <p class="info_cont">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                                                voluptatibus consequatur rem nostrum omnis! Architecto.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>